#root {
	padding-top: 60px;
}

.page-title {
	padding-top: 25px;
	padding-bottom: 25px;
}

.table-row {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #C0C0C0;
}

.table-header {
	font-weight: bold;
}

.red-row {
	background-color: #f2dede;
}

.green-row {
	background-color: #dff0d8;
}

.vertical-aligned-form,
.vertical-aligned-error,
.vertical-aligned-success,
.vertically-centered-root,
.vertically-centered-505,
.vertically-centered-404 {
	position: absolute;
	top: 40%;
}

.vertical-aligned-form {
	margin-top: -80px;
}

.vertical-aligned-error {
	margin-top: -39px;
}

.vertical-aligned-success {
	margin-top: -69px;
}

.vertically-centered-root {
	margin-top: -60px;
}

.vertically-centered-505 {
	margin-top: -50px;
}

.vertically-centered-404 {
	margin-top: -40px;
}

.key-display {
	text-align: center;
}

#push {
	height: 60px;
}

#wrap {
	min-height: 100%;
	margin: 0 auto -60px;
}

#footer {
	height: 60px;
	background-color: rgb(245, 245, 245);
}

#footer p {
	padding-top: 20px;
	color: rgb(153, 153, 153);
}

.final {
	padding-bottom: 60px;
}

html,
body {
	height: 100%;
}

.vs {
	text-align: center;
}

.left-ai {
 text-align: right;
}

.right-ai {
	text-align: left;
}

.replay-disclaimer {
	text-align: center;
	color: rgb(153, 153, 153);
}